<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="car" class="Value_Injection.Car">
		<property name="brand" value="audi">
		</property>
		<property name="topspeed" value="150">
		</property>
		<property name="music" ref="jbl">
		</property>
	</bean>
	<bean id="bike" class="Value_Injection.Bike">
		<constructor-arg index="0" value="R15"></constructor-arg>
		<constructor-arg index="1" value="150"></constructor-arg>
		<constructor-arg index="2" ref="jbl
		"></constructor-arg>
	</bean>

	<bean id="music" class="Value_Injection.MusicSystem"></bean>
	<bean id="jbl" class="Value_Injection.JBLMusicSystem"></bean>
</beans>
	
